@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Bangers/bangers.woff2') format('woff2'),
    url('../fonts/Bangers/bangers.woff') format('woff');
}

@font-face {
  font-family: 'JeffScript';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/JeffScript/jeffscript.woff2') format('woff2'),
    url('../fonts/JeffScript/jeffscript.woff') format('woff');
}
